<%- include common/header.ejs %>
<header class="header">
  <h1>ERROR 404</h1>
</header>
<section class="container">
  <div class="alert-error">La page est introuvable.</div>
</section>
<footer class="footer">
  <a href="/">Voter pour le plus beau chat</a> -
  <a href="/ranking">Voir les plus beaux chats</a>
</footer>
<%- include common/footer.ejs %>
