html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body, section {
  height: 100%;
  background-color: #eee;
}

body {
  background-color: #eee;
  color: #222;
  font-family: sans-serif;
  font-size: 1.25rem;
  line-height: 150%;
  text-align: center;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page {
  min-height:100vh; /* 1 */
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
  align-items: center;*/
}

.page > * {
  padding: 10px;
  flex: 1 100%;
}

.main {
  display: flex;

}

.left-half {
  background-color: #eee;
  flex: 1;
}

.right-half {
  background-color: #eee;
  flex: 1;
}

h1 {
  color: #09f;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

p, span, a:link, a:hover, a:visited, a:active {
  color: #09f;
}

p {
  font-size: 10px;
}

table {
  color: #111;
  border:none;
}

table tbody th {
  vertical-align: middle;
  text-align: center;
}

.img{
  width: 150px;
  height: 150px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 250px;
  margin: 0 auto;
  border:5px white solid;
}

.img-small{
  width: 100px;
  height: 100px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100px;
  margin: 0 auto;
  border:2px white solid;
}

.img:hover{
  width: 150px;
  height: 150px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  border-radius: 250px;
  margin: 0 auto;
  -webkit-animation-name: rotate;
  -webkit-animation-duration:0.3s;
  -webkit-animation-timing-function:linear;
  -moz-animation-name: rotate;
  -moz-animation-duration:0.3s;
  -moz-animation-timing-function:linear;
}

@-webkit-keyframes rotate {
  from {-webkit-transform:rotate(0deg);}
  to {  -webkit-transform:rotate(360deg);}
}

@-moz-keyframes rotate {
  from {-moz-transform:rotate(0deg);}
  to {  -moz-transform:rotate(360deg);}
}

.left-half:hover{
  background-color: #e1e1e1;
  cursor:pointer;
}

.right-half:hover{
  background-color: #e1e1e1;
  cursor:pointer;
}
@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
}
